body{
    background: linear-gradient(to right, #005C98, #7f82a7);
    
}

section{
    background-color: azure;
    opacity: 1;

}

section{
    border: 2px solid rgb(226, 43, 43);
    border-radius: 7px;
}

section{
    margin: 10px;
    padding: 10px;
    font-size: 15px;
    font-family: sans-serif;
}

.text-diario {
    width: 70%;
}

.morado{
    background-color: rgb(237, 217, 255);
}

.verde{
    background-color: rgb(208, 255, 137);
}

.naranja{
    background-color: rgb(255, 215, 140);
}

.titulo_preguntas{
    justify-content: center;
    padding: auto;
}

.who-text {
    text-align: justify;
    width: 40rem;
    margin-top: 2rem;
    text-indent: 2rem;
    color: #ffffff;
}