body{
    background-color: rgb(181, 255, 230);
    
}

section{
    background-color: azure;
    opacity: 1;

}

section{
    border: 2px solid blueviolet;
    border-radius: 7px;
}

section{
    margin: 10px;
    padding: 10px;
    font-size: 15px;
    font-family: sans-serif;
}
